body {

background-color:#e7e7e7;
font-family: 'Oswald', sans-serif;
font-weight: 400;
margin: 0; 
}

a {
color: #CC333F;
text-decoration: underline;
font-family: 'Open sans', sans-serif;
font-weight: 300;
font-size: 2rem;
cursor: pointer;;
}

a:hover,
a:focus,
a:active, 
a:visited {
color: #CC333F;
}

header {
font-family: 'Open sans', sans-serif;
font-weight: 300;
font-size: 2rem;
margin: 0;
width:100%;
min-height: 130px !important;
width: 100%;
background-color: #fff;
position: fixed;
z-index: 1;
box-shadow: 0px 1px 4px rgba(0,0,0,.2);
}


nav {
left: 0;
position: absolute;
top: 0;
width: 100%;

}

nav ul{
  list-style-type:none;
  padding-top: 0;
  
}

ul.menu {
list-style: none;
margin: 0 auto;
max-width: 1210px;
position: relative;
padding: 50px;
}

nav li{
 position:relative;
padding-top:0;
padding-left:2%;
padding-right: 2%;
}

nav li.appart {
  float:left;
}

nav li.navleft {
  float:right;
}

nav li a{
  text-decoration: none;
  color: #6A4A3C;
}

nav li a:hover {
  color: #333;
  border-bottom:2px solid #333;
}

/* ---------- efecto links ----- 
ul.menu li a {
  padding: 0 5px;
        color: #6A4A3C;
        font-weight: 700;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
}

ul.menu li a::before,
ul.menu li a::after {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        height: 2px;
        margin-top: -1px;
        background: #6A4A3C;
        content: '';
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
}

ul.menu li a::before {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
}

ul.menu li a::after {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
}

/*--- Color Hover ---

ul.menu li a:hover,
ul.menu li a:focus {
        color: #556270;
}

ul.menu li a:hover::before,
ul.menu li a:hover::after,
ul.menu li a:focus::before,
ul.menu li a:focus::after {
        opacity: 0.7;
}

ul.menu li a:hover::before,
ul.menu li a:focus::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
}

ul.menu li a:hover::after,
ul.menu li a:focus::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
}
*/
/* menú responsive ---*/ 


#menu-icon {
display: none !important;
width: 40px;
height: 40px;
background: url(menu-icon.png) center no-repeat;
}


/*menu boton*/

#menu-button {
    vertical-align: bottom;
    float: right;
    padding: .375em; /* 6/16 = .375em */
    margin: 0 .375em 0 2em; /* 6/16 = .375em, 32/16 = 2em */
    opacity: .7;
    cursor: pointer;
     
    transition: all .2s linear;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
     
    background-color: #4D8EBC;
    background-image: linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-position: left bottom;
    background-repeat: repeat-x;
}



.logo {
margin: 0 auto;
width: 140px;
border-width: 80px 60px 0;
border-style: solid;
border-color: #FFF transparent;
position: relative;
top: 90px;
} 

.logo img{
 position:absolute;
top: -130px;
}

.menuder{
list-style-type:none;
  margin-top:0;
  margin-right: 10px;
  padding:0;
  min-height: 50px;
  float: right;

}

.clear{
  clear: both;
}



#slider{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  margin: -33px auto;
  padding: 0;
  background-repeat: initial;
  float: center;
  background-color: #00A0B0;
  width: 100%;
  height: 500px;
  background-image: url(control.jpg);

}

ul.menuslider {
list-style: none;
margin: 0;
padding: 0;
}



#slider li{
  width: 100%;
  float: left;
margin-right: -100%;
position: relative;

}

#slider img{
  width: 100%;
  height: 500px;
  float: left;
}


/*
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {outline: none;}
.slides,.flex-control-nav,.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flexslider {margin: 0; padding: 0;}.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {margin: 0; margin-bottom:54px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
.flex-direction-nav { position:absolute; top: 50%; margin-top:-35px; height:0px; width:100%;}
.flex-direction-nav a { background-color: #000; background-color: rgba(0,0,0,0.7); background-repeat:no-repeat; background-position: center;
width: 50px; height: 70px; display: block;  position: absolute; top: 0; cursor: pointer; text-indent: -9999px; -moz-transition: all .3s ease; -webkit-transition: all .3s ease; -o-transition: all .3s ease; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.flex-direction-nav .flex-next { background-image: url(https://lh3.googleusercontent.com/-ufDOqvjXVZQ/UcPyAki9zkI/AAAAAAAAB7Y/vuzaVpukn2Q/s22/nav-next.png);right: -50px; }
.flex-direction-nav .flex-prev { background-image: url(https://lh6.googleusercontent.com/-VYx-nqPdYqU/UcPyBbYd6mI/AAAAAAAAB7s/wap9a6qHvgI/s22/nav-prev.png); left: -50px;}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover {opacity: 0.8;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
.flexslider:hover .flex-direction-nav a.flex-next { right:20px;}
.flexslider:hover .flex-direction-nav a.flex-prev { left:20px;}
.flex-control-nav { background: #fff  url(https://lh3.googleusercontent.com/-1QB3XFmdlYY/UcPyBWfyb4I/AAAAAAAAB74/ITrfhAVjwNI/s67/pattern.png) 0 -20px repeat-x;position: absolute; bottom: -52px; left:0px; text-align: center; z-index:999; width:100%; height:35px; -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);box-shadow: 0px 1px 1px rgba(0,0,0,0.2); padding-top:17px; }
.flex-control-nav li {margin:0 7px; padding:0; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 13px; height: 13px; line-height:28px; text-align:center; display: block; background: url(https://lh4.googleusercontent.com/-P0vkb54Qg3w/UcPyDFWoQKI/AAAAAAAAB8s/XWLJwnXIAbA/s26/slider_dots.png) no-repeat; cursor: pointer; color: #666; text-indent:9999em; overflow:hidden; }
.flex-control-paging li a.flex-active { background-position: bottom left; cursor: default; }
.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}
.caption {
 font-size: 18px;
}
*/


#home {
  margin:10px auto;
  padding:0 0 2px;
  width:75%;
  background-color: #fff;
  border-top-left-radius:1rem;
  border-top-right-radius:1rem;
 margin: 0 auto;
}

.separador {
  margin: 15px auto;
  width: auto;
  text-align: center;
  padding-top: 5px;
}

.articulos {
  margin: 0 auto;
  background: #fff;
  min-height: 340px;
}

.articlebox {
  width: 300px;
  height: 300px;
  background: #fff;
  float: left;
  margin: 1rem;
border: 1px solid #ccc;
position:relative;

}



.homegallery {
     float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
background:#fafafa;
  height:200px;
  width:300px;
}



.home-post {
  padding-top:10px;
}

.image-logo {
position: relative;
top: -35px;
left: 0;
bottom: 0;
right: 0;
margin: 0 auto;
width: 70px;
height: 70px;
background: #fff;
background-position-y: 0;
background-repeat: no-repeat;
background-size: 630px auto !important;
text-indent: -99999px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
}


.image-logo img{
position: absolute;
margin: 7px;
width: 50px;
}

/*-------- css Mascara que cae -------*/

.vista {
    width: 300px;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
}
.vista .mascara, .vista .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.vista img {
    display: block;
    position: relative;
    height:200px;
  width:300px;
}

.vista p {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
    font-size: 18px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.vista .mascara { 
    background-color: rgba(0, 180, 204, 0.9);
    top: -200px;
    opacity: 0;
    transition: all 0.3s ease-out 0.5s;
    
}

.vista p { 
    color: #fff;
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out 0.2s;
}


.vista:hover .mascara { 
    opacity: 1; 
    top: 0px; 
    transition-delay: 0s; 
    animation: bounceY 0.9s linear;
}                                                                                       

.vista:hover p { 
    transform: translateY(0px);
    transition-delay: 0.2s;
}


.logito {
  background-image: url(loguito.png);
  background-repeat: no-repeat;
  height: inherit;
  left: 0;
  bottom: 0;
  right: 0;
    margin: 0 auto;
}


.homepost h2 {
position: relative;
left: 0px;
background: #fff;
color: #222;
padding: 0 10px;
margin: 0;
text-transform: uppercase;
bottom: 30px;
text-align: center;
}

h2.titulopost a:link, h2.titulopost a:visited {
  color: #222;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
}

.services {
  background: #EB6841;
  min-height: 500px;
  padding: 1rem auto;
  position: relative;
}


.cajaservicios1 {
  width: 200px;
  height: 300px;
  border: 3px solid #fff;
  margin: 2rem;
  padding: 2rem;
 display: inline-block;
 overflow: hidden;
 text-align: center;
 background: #fff;
 }

.icono{
width: 150px;
height: 150px;
border-radius: 100%;
background-color: #EB6841;
margin: 0 auto;
-webkit-transition: background-color 0.3s linear 0s;
-moz-transition: background-color 0.3s linear 0s;
transition: background-color 0.3s linear 0s;
}

.descrip{
margin-bottom: 1rem;
}

.descrip h2 {
  text-align: center;
}


.cajaservicios1:hover .icono{
  background-color: #4ECDC4;
-webkit-transition: background-color 0.3s linear 0s;
-moz-transition: background-color 0.3s linear 0s;
transition: background-color 0.3s linear 0s;
}




.team {
  background: #4ECDC4;
  min-height: 500px;
  padding: 1rem;
}

.cajateam{
  width: 300px;
  height: 400px;
  margin:15px auto;
  text-align: center;
}

.ateam {
width: 150px;
height: 150px;
margin: 0 auto;
display: block;
overflow: hidden;
text-align: center;
background: #fff;
border-radius: 100%;
}

.ateam img{
margin: 0 auto;
width: 150;
height: 150;
}
.ateam:hover {
 border: 5px solid #fff; 
}
.perfil{
margin: 5px;
font-size: 18px;
font-weight: normal;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  display:block;
}

.nombre{
padding: 10px 20px;
border-top: 3px solid #354856;
margin: 0 60px;
}

.resume{
display: block;
}


/* ------------ Circulor effect -----------*/
.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
}

.ch-info-wrap, 
.ch-info{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.ch-info-wrap {
  top: 20px;
  left: 20px;
  background: #f9f9f9 url(../images/bg.jpg);
  box-shadow: 
    0 0 0 20px rgba(255,255,255,0.2), 
    inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  
  -webkit-backface-visibility: hidden; /*Just for webkit to have a smooth font*/
}

.ch-info .ch-info-front {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
  opacity: 0;

  background: #6A4A3C;
  pointer-events: none;
  
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -ms-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
  background-image: url(user.jpg);
}

.ch-img-2 { 
  background-image: url(../images/14.jpg);
}

.ch-img-3 { 
  background-image: url(../images/15.jpg);
}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
  display: block;
  color: #e7615e;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff;
}

.ch-item:hover .ch-info-front {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  
  opacity: 0;
} 

.ch-item:hover .ch-info-back {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  
  opacity: 1;
  pointer-events: auto;
}

.join {
   background: #FF6B6B;
  min-height: 500px; 
}

footer {
color: #fff;
background-color: #222;
min-height: 100px;
width: 75%;
margin: 0 auto;
text-align: center;
border-bottom: 5px solid #00A0B0;
}

