@media screen ans (max-width:980px){
	

}

@media screen and (max-width:700px){
	
	
}

@media screen and (max-width:480px){
	
header{
height: auto;
}

ul.menu {
	display: none;
}
.slider {
	width: auto;
	height: auto;
}
#home{
width:auto;

}

footer{
	height: auto;
	width: auto;
}

}